# compiled output
/dist
/node_modules

/Docker
# dentro de .gitignore
/chat/
/conecta_whatts/

.vscode
/venv/
*.mp3
*.wav
*.m4a
*.mp4
*.mov
*.avi
*.mkv
# Logs
logs/**.json
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/docker-compose-data
/docker-data

# Package
/yarn.lock
/pnpm-lock.yaml

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.nova/*
.idea/*

# Project related
/instances/*
!/instances/.gitkeep
/test/
/src/env.yml
/store

/temp/*

.DS_Store
*.DS_Store
.tool-versions

/prisma/migrations/*


# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem


# typescript
*.tsbuildinfo

app-example
conecta_whatts/
